block vars
  - var category = "index"
  - var page = "index"

extend _layout

block head
  style
    include ../css/style.css

block main
  textarea#source
    | name: inverse
    | layout: true
    | class: center, middle, inverse
    | ---
    | # オススメ アプリケーション
    | ---
    | layout: false
    | class: left, top, inverse
    | # Agenda
    | 
    | - 入力支援
    | 
    | - 操作支援
    | 
    | - 開発支援
    | ---
    | class: center, middle, inverse
    | # 入力支援
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | - キーリピート速度変更
    | 
    | - キーバインド変更
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーリピート速度変更
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーリピート速度変更
    | 
    | ![](img/Screen Shot 2015-02-21 at 18.13.04.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーバインド変更
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーバインド変更
    | 
    | ![](img/Screen Shot 2015-02-21 at 18.13.12.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ### ImageUp
    | ]
    | .right-column[
    | # ImageUp
    | 
    | 入力ソースの視覚化
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ### ImageUp
    | ]
    | .right-column[
    | # ImageUp
    | 
    | 入力ソースの視覚化
    | 
    | ![](img/Screen Shot 2015-02-21 at 18.23.58.png)
    | ]
    | ---
    | class: center, middle, inverse
    | # 操作支援
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ]
    | .right-column[
    | # HyperSwitch
    | 
    | アプリ切り替えをウィンドウ毎に（Win仕様）
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ]
    | .right-column[
    | # HyperSwitch
    | 
    | アプリ切り替えをウィンドウ毎に（Win仕様）
    | 
    | ![](img/hyperswitch_1_777.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ### Divvy
    | ]
    | .right-column[
    | # Divvy
    | 
    | ウィンドウを好きな配置に
    | 
    | ![](img/ui2.png)
    | 
    | [動画](https://vimeo.com/17934894)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ### Divvy
    | ### Alfred2
    | ]
    | .right-column[
    | # Alfred2
    | 
    | - ファイル検索
    | 
    | - Web検索
    | 
    | - 辞書検索
    | 
    | - 計算機
    | 
    | - 各種処理連携（有料）
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ### Divvy
    | ### Alfred2
    | ]
    | .right-column[
    | # Alfred2
    | 
    | ファイル検索
    | 
    | ![](img/Screen Shot 2015-02-22 at 1.18.09 PM.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ### Divvy
    | ### Alfred2
    | ]
    | .right-column[
    | # Alfred2
    | 
    | Web検索
    | 
    | ![](img/Screen Shot 2015-02-22 at 1.18.17 PM.png)
    | 
    | ![](img/Screen Shot 2015-02-22 at 1.19.37 PM.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ### Divvy
    | ### Alfred2
    | ]
    | .right-column[
    | # Alfred2
    | 
    | 辞書検索
    | 
    | ![](img/Screen Shot 2015-02-22 at 1.21.17 PM.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 操作支援
    | ### HyperSwitch
    | ### Divvy
    | ### Alfred2
    | ]
    | .right-column[
    | # Alfred2
    | 
    | 計算機
    | 
    | ![](img/Screen Shot 2015-02-22 at 1.23.01 PM.png)
    | ]

block script
  script(src="js/remark-latest.min.js")
  script.
    var slideshow = remark.create();
