block vars
  - var category = "index"
  - var page = "index"

extend _layout

block head
  style
    include ../css/style.css

block main
  textarea#source
    | name: inverse
    | layout: true
    | class: center, middle, inverse
    | ---
    | # オススメ アプリケーション
    | ---
    | layout: false
    | class: left, top, inverse
    | # Agenda
    | 
    | - 入力支援
    | 
    | - 操作支援
    | 
    | - 開発支援
block script
  script(src="js/remark-latest.min.js")
  script.
    var slideshow = remark.create();
