block vars
  - var category = "index"
  - var page = "index"

extend _layout

block head
  style
    include ../css/style.css

block main
  textarea#source
    | name: inverse
    | layout: true
    | class: center, middle, inverse
    | ---
    | # オススメ アプリケーション
    | ---
    | layout: false
    | class: left, top, inverse
    | # Agenda
    | 
    | - 入力支援
    | 
    | - 操作支援
    | 
    | - 開発支援
    | ---
    | class: center, middle, inverse
    | # 入力支援
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | - キーリピート速度変更
    | 
    | - キーバインド変更
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーリピート速度変更
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーリピート速度変更
    | 
    | ![](img/Screen Shot 2015-02-21 at 18.13.04.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーバインド変更
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ]
    | .right-column[
    | # Kalabiner
    | 
    | キーバインド変更
    | 
    | ![](img/Screen Shot 2015-02-21 at 18.13.12.png)
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ### ImageUp
    | ]
    | .right-column[
    | # ImageUp
    | 
    | 入力ソースの視覚化
    | ]
    | ---
    | class: two-column
    | .left-column[
    | ## 入力支援
    | ### Kalabiner
    | ### ImageUp
    | ]
    | .right-column[
    | # ImageUp
    | 
    | 入力ソースの視覚化
    | 
    | ![](img/Screen Shot 2015-02-21 at 18.23.58.png)
    | ]

block script
  script(src="js/remark-latest.min.js")
  script.
    var slideshow = remark.create();
